h1 {color: red;
    font-weight: bold;
    font-style: italic; 
}

h4 {background-color: blueviolet;
    font-family: cursive;
}

.destacados {
    font-variant: small-caps;
    border: 0cqb;
    height: max-content;
    font-family: sans-serif;
    color: goldenrod;
}

#caja1 {

    background-color: lightblue;
    width: 300px;
    height: fit-content;
    font-size: small;
    font-family:inherit;
    box-sizing: border-box;
    
}

#caja2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    height: 450px;
    padding: 20px;
    background-color: burlywood;
    border: 5px solid black;
    box-sizing: border-box;
    

}
     

